[submodule "src/hardware/hardware"]
	path = src/hardware/hardware
	url = https://github.com/WiringPi/WiringPi.git
[submodule "src/hardware/Wiringpi"]
	path = src/hardware/Wiringpi
	url = https://github.com/WiringPi/WiringPi.git
