<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="rocko_ros2_control" params="name prefix use_mock_hardware">

    <ros2_control name="LeftDriveMotor" type="actuator">
      <hardware>
        <plugin>rocko_env/Motor12VoltQuadEncoder</plugin>
        <param name="pinNumberSpeed">14</param>
        <param name="pinNumberDirection">10</param>
      </hardware> 
      <joint name="left_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>
    <ros2_control name="RightDriveMotor" type="actuator">
      <hardware>
        <plugin>rocko_env/Motor12VoltQuadEncoder</plugin>
        <param name="pinNumberSpeed">13</param>
        <param name="pinNumberDirection">6</param>
      </hardware>
      <joint name="right_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>
    <ros2_control name="Gyro" type="sensor">
      <hardware>
        <plugin>rocko_env/ICM20948</plugin>
      </hardware>
      <!-- <sensor name="icm20948">
        <state_interface name="yaw"/>
        <state_interface name="pitch"/>
        <state_interface name="roll"/>
      </sensor> -->
      <joint name="left_wheel_joint">
        <state_interface name="yaw"/>
        <state_interface name="pitch"/>
        <state_interface name="roll"/>
      </joint>
      <joint name="right_wheel_joint">
        <state_interface name="yaw"/>
        <state_interface name="pitch"/>
        <state_interface name="roll"/>
      </joint>
    </ros2_control>

  </xacro:macro>

</robot>